.card {
  padding: .5rem 1rem;
  border: 1px dashed #ccc;
  margin: 30px 100px;
  text-align: center;

  h2 {
    margin-bottom: .5rem;

  }

}

button {
  margin: 10px 10px;
}
.buttons {
  margin-top: .5rem;
}

.text {
  font-size: 1.5rem;

  &.red{
    color: red;
  }
  &.blue{
    color: blue;
  }
  &.green{
    color: green;
  }
}
