
<div class="card">
  <h2 [ngStyle]="{
   color: title.length < 5 ? 'black' : 'green'
   }">{{index}} {{title}}</h2>

  <p class="text" [ngClass]="{
    red: textColor === 'red',
    blue: textColor === 'blue',
    green: textColor === 'green'
  }">{{text}}</p>

  <p class="text"
    [class.blue]="textColor === 'blue'"
    [class.red]="textColor === 'red'"
    [class.green]="textColor === 'green'"
    >{{text}}</p>

  <strong>Number {{number}}</strong>

  <p>{{obj | json}}</p>

  <p>Info: {{getInfo()}}</p>

  <div>
    <img [src]="imUrl" alt="">
    <br>
    <button [disabled]="disabled" >Enable</button>
  </div>

  <h2>Select head:</h2>

  <div class="buttons">
    <button (click)="changeTitle()">Change title</button>
    <button (click)="title = 'new title' ">Обновить заголовок</button>
  </div>



  <div>
    <input type="text" (input)="fromInput($event)" [value]="title">
  </div>

  <div>
    <input type="text" #val (input)="title=val.value" [value]="title">
  </div>

  <div>
    <input type="text" [(ngModel)]="title">
  </div>

  <h2>Select text color:</h2>

  <div class="buttons">
    <button (click)="textColor = 'red'">select red</button>
    <button (click)="textColor = 'green'">select green</button>
    <button (click)="textColor = 'blue'">select blue</button>
  </div>

  <div>
    <strong>{{cardDate | date: 'dd.MM.yyyy HH:mm:ss'}}</strong>
  </div>


</div>

