.container {
  max-width: 800px;
  margin: 0 auto;
  padding-top: 3rem;
}

.head1 {
  font-size: 50px;
  text-align: center;
  margin: auto 300px;
  padding: 20px 0;

  background-color: lightblue;
  color: red;
  border: 2px solid black;
}

.link {

  font-size: 25px;
  margin: 20px 20px;
  border-style: solid;
  border-color: red;
  color: black;

}
