
<div class="head1">
  Главный заголовок
</div>

<nav>
  <div>
    <a class="link" routerLink="">главная</a>
    <a class="link" routerLink="/new">Новая страница</a>
  </div>
</nav>
<router-outlet></router-outlet>

<div class="container">
  <h1>Hello angular!</h1>

  <hr>

  <button (click)="viewCards()">view cards</button>

  <hr>
  <div *ngIf="view; else noCards">
    <app-card
      *ngFor="let iterCard of cards let idx = index"
      [card]="iterCard"
      [index]="idx + 1"
    ></app-card>

  </div>

  <ng-template #noCards>
    <p>Cards are hidden</p>
  </ng-template>

</div>
<!--<app-form></app-form>-->

